.titulo-principal{
    padding-left: 20px;
}

body{
    background: #ffffff;
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}